__pycache__/
*.py[cod]
.venv/
.pytest_cache/
.ipynb_checkpoints/
data/raw/*
data/interim/*
data/processed/*
!data/**/.gitkeep
outputs/**/*.png
outputs/**/*.csv
outputs/model_objects/
.DS_Store
reports/report.pdf
